language: php

php:
  - 7.2

services:
  - mysql

before_install:
  - export TZ="Australia/Melbourne"

install:
  - composer -vvv install

before_script:
  - echo "$COMPOSER_BIN_DIR"
  - phpenv config-add test/travis_90.ini
  - php --ini
  - php -i
  - vendor/bin/phpunit --version
  - mysql --version
  - mysql --help
  - echo "$TZ"
  - cat /etc/timezone
  - ls -al /etc/mysql/
  - ls -al /etc/mysql/conf.d/
  - cat /etc/mysql/conf.d/*.cnf
  - cat /etc/default/locale
  - cat ~/.my.cnf

script:
  - vendor/bin/phpunit --configuration phpunit.xml.dist --verbose --coverage-text

# cache:
#   directories:
#     - $HOME/.cache/composer
#     - $HOME/.composer/cache
