language: php

php:
  - 7.2

services:
  - mysql

before_install:
  - export TZ="Australia/Melbourne"
  - mysql --help
  - sed -i 's/utf8/utf8mb4/' ~/.my.cnf
  - echo "\n\n[mysqld]\ncharacter-set-server = utf8mb4\ncollation-server = utf8mb4_unicode_ci\n" >> ~/.my.cnf
  - cat ~/.my.cnf
  - mysql --help
  - sudo service mysql restart
  - mysql --help

install:
  - composer -vvv install

before_script:
  - echo "$TZ"
  - cat /etc/timezone
  - cat /etc/default/locale
  - phpenv config-add test/travis_90.ini
  - php --ini
  - php -i
  - vendor/bin/phpunit --version
  - mysql --version
  - mysql --help
  - ls -al /etc/mysql/
  - ls -al /etc/mysql/conf.d/
  - cat /etc/mysql/conf.d/*.cnf
  - cat ~/.my.cnf

script:
  - vendor/bin/phpunit --configuration phpunit.xml.dist --verbose --coverage-text

# cache:
#   directories:
#     - $HOME/.cache/composer
#     - $HOME/.composer/cache
