language: php

php:
  - 5.6

services:
  - mysql

install:
  - composer -vvv install

before_script:
  - phpenv config-add test/travis-10.ini
  - php --ini
  - php -i
  - vendor/bin/phpunit --version
  - mysql --version

script:
  - vendor/bin/phpunit --configuration phpunit.xml.dist --verbose --coverage-text
