language: php

php:
  - 5.6

env:
  - PHPUNIT_XML=

install:
  - composer -vvv install

before_script:
  - phpenv config-add 99-travis.ini
  - echo 'date.timezone = "Europe/Paris"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/90-travis.ini
  - php -i | grep datetime

script:
  - vendor/bin/phpunit -v -c "phpunit${PHPUNIT_XML}.xml.dist" --coverage-text

cache:
  directories:
    - $HOME/.cache/composer
    - $HOME/.composer/cache
