language: php

php:
  - 5.6

env:
  - PHPUNIT_XML=

install:
  - composer -vvv install

before_script:
  - phpenv config-add travis.ini

script:
  - php -i
  - vendor/bin/phpunit -v -c "phpunit${PHPUNIT_XML}.xml.dist" --coverage-text

cache:
  directories:
    - $HOME/.cache/composer
    - $HOME/.composer/cache
