<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="true"
         verbose="true"
         >

    <php>
        <!-- <ini name="date.timezone" value="UTC" /> -->
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <ini name="log_errors" value="0" />
        <ini name="memory_limit" value="10M" />

        <const name="DBUNIT_HOST" value="locahost" />
        <const name="DBUNIT_USERNAME" value="root" />
        <const name="DBUNIT_PASSWORD" value="" />
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>src</directory>
        </whitelist>
    </filter>

</phpunit>
